*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #1d1d1d;
}

ul,li{
    list-style: none;
}

img{
    width: 100%;
    display: block;
}

/* reset end */

section{
    padding: 75px 250px;
}

/* common end */


header{
    width: 100%;
    height: 120px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.menu{
    width: 70px;
    /* background-color: lightblue; */
}

.menu_line{
    width: 70px;
    height: 2px;
    background-color: white;
}

.menu_line:nth-child(1){
    margin-bottom: 20px;
}

.logo{
    width: 180px;
    position: absolute;
    left: 50%;
    top: 55px;
    margin-left: -90px;
}

/* header end */


.section_1{
    position: relative;
    background-image: url(http://koyoum.co.kr/public/img/main/visual2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 980px;
}

.title_wrap_1{
    width: 450px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
}

.title_logo{
    width: 70%;
    margin: 0 auto;
}

.dot_wrap{
    width: 15px;
    position: absolute;
    top: 50%;
    left: 80px;
    margin-top: -52.5px;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
    margin-bottom: 25px;
}

.dot:nth-child(1){
    opacity: 1;
}
/* section_1 end */

.section_2{
    height: 1050px;
    padding-top: 150px;
    position: relative;
}

.bg_title{
    position: relative;
    left: -300px;
}

.con_wrap_2{
    float: left;
}

.con_wrap_2_1{
    width: 60%;
    background-color: lightgray;
    position: relative;
}

.con_wrap_2_1 img{
    position: absolute;
    top: 0;
    left: 0;
}

.con_wrap_2_2{
    width: 40%;
    background-color: lightblue;
    float: right;
    position: relative;
}

.con_wrap_2_1 img:nth-child(2) {
    width: 60%;
    top: 52px;
    left: 40px;
}

.title_2 img:nth-child(1){
    width: 70%;
    float:right;
}

.title_2 img:nth-child(2){
    width: 7%;
    position: absolute;
    top: -40px;
    right: -60px;
}

.con_wrap_2_2 p, 
.more_2{
    float: right;
}

.con_wrap_2_2 p{
    width: 100%;
    text-align: right;
    font-size: 18px;
    margin: 25px 0 20px 0;
    color: #808080;
    font-weight: 100;
}
/* section_2 end */

.section_3{
    height: 950px;
    padding: 75px 0;
    position: relative;
}

.section_3 .container{
    width: 100%;
    height: 400px;
    background-color: #302314;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 250px;
}

.con_wrap_3{
    width: 45%;
    float: left;
    position: relative;
    top: -300px;
}

.bg_3{
    height: 600px;
    background-image: url(http://koyoum.co.kr/public/img/main/section2_img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title_wrap_3{
    float: right;
}

.title_wrap_3 h5{
    margin-top: 50px;
    font-family: '명조체';
    font-size: 28px;
    font-weight: 100;
    color: #3F280D;
}

.line_3{
    width: 40px;
    height: 1px;
    background-color: #3F280D;
    margin-top: 20px;
}

.title_wrap_3 h3{
    font-size: 34px;
    font-weight: 900;
    margin: 50px 0 20px 0;
}

.title_wrap_3 h4{
    color: #00B44E;
    font-size: 24px;
    font-weight: 900;
}

.title_wrap_3 p{
    font-size: 18px;
    color: white;
    margin: 110px 0 50px 0;
}

.button_3{
    width: 80px;
    height: 80px;
    background-color: orangered;
    border-radius: 50%;
}

.button_3 a{
    display: block;
    line-height: 80px;
    font-size: 20px;
    width: 100px;
    /* background-color: lightgray; */
    margin-left: 38px;
    color: white;
}

.button_3 span{
    opacity: 0.5;
}
/* section_3 end */


.section_4{
    height: 850px;
    background-image: url(http://koyoum.co.kr/public/img/main/section3_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.title_wrap_4{
    width: 640px;
    position: absolute;
    bottom: 180px;
    right: 180px;
}

.title_wrap_4 h3{
    width: 150px;
    float: left;
}

.title_wrap_4 p{
    font-size: 22px;
    color: white;
    margin-top: 40px;
    float: left;
}

.leaf{
    width: 120px;
    float: left;
}

.title_wrap_4 span{
    font-weight: 900;
    color: #FFF9C5;
}

/* section_4 end */


.section_5{
    padding-top: 180px;
    padding-bottom: 180px;
    background: url(http://koyoum.co.kr/public/img/main/section4_bg.jpg) no-repeat center / cover;
    /* =>배경축약
    background: color url() 반복 위치 / 크기 */
    overflow: hidden;
}

.con_5{
    width: 47.5%;
    float: left;
    height: 450px;
    background-color: lightblue;
}

.con_5:nth-child(2){
    float: right;
}